<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nim-works.nsheep-fetcher</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/bung/nim-works/nsheep/nsheep-fetcher</string>
        <string>/Users/bung/nim-works/nsheep/cfg.yaml</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/bung/nim-works/nsheep</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/bung/nim-works/nsheep/data/fetcher.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/bung/nim-works/nsheep/data/fetcher.log</string>
</dict>
</plist>
